.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f9f9f9;
  align-items: center;
  background-color: #000000;
  border-radius: 15px;
  box-shadow: 10px 10px 20px black, 10px 10px 10px lightblue;
}
.header__logo {
  height: 60px;
  object-fit: contain;
  border-radius: 15px;
}

.header__icon {
  color: #ce5e49;
}
